body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f9f7f7;
}

#container {
  height: auto;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}

.graph {
  height: 500px;
  width: 800px;
}

.graph .grid {
  stroke: #dbe2ef;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.labels {
  font-size: 13px;
}

.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
  fill: #112d4e;
}

.label-data {
  font-weight: lighter;
  font-size: 14px;
  fill: #112d4e;
}

.data {
  fill: #dbe2ef;
  stroke-width: 1;
}

.data-hover {
  fill: #112d4e;
}

polyline {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 4s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.bouncy {
  animation: bouncy 5s infinite linear;
  position: relative;
}

@keyframes bouncy {
  0% {
    top: 0em
  }

  40% {
    top: 0em
  }

  43% {
    top: -0.9em
  }

  46% {
    top: 0em
  }

  48% {
    top: -0.4em
  }

  50% {
    top: 0em
  }

  100% {
    top: 0em;
  }
}

.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #3f72af;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #3f72af;
  text-align: center;
  transition: all 0.2s;
}

.button:hover {
  color: #f9f7f7;
  background-color: #3f72af;
}

@media all and (max-width:30em) {
  .button {
    display: block;
    margin: 0.4em auto;
  }

  .graph {
    height: 400px;
    width: 300px;
  }
}